@charset "UTF-8";
@import url('../fonts/TAK00BP.woff');
@font-face {
    font-family: 'gooin';
    src: url('../fonts/TAK00BP.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/TAK00BP.eot?#iefix'), /* IE6-IE8 */
    url('../fonts/TAK00BP.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/TAK00BP.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/TAK00BP.TTF') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/TAK00BP.svg#svgFontName') format('svg');
    /* Legacy iOS */
    unicode-range: U+731B, U+9B3C, U+5728, U+9694, U+58C1, U+8FB2, U+66C6, U+4E03, U+6708, U+5728, U+53F0, U+7063, U+4E5F, U+7A31, U+4F5C, U+300C, U+9B3C, U+6708, U+300D, U+4E0D, U+5C11, U+4EBA, U+6703, U+8D81, U+6B64, U+6642, U+5230, U+9B3C, U+5C4B, U+63A2, U+96AA, U+6311, U+6230, U+7981, U+5FCC, U+6C11, U+8996, U+65B0, U+805E, U+7279, U+5730, U+6574, U+7406, U+5168, U+53F0, U+516B, U+5927, U+9748, U+7570, U+9B3C, U+5C4B, U+8B93, U+5927, U+81BD, U+7684, U+6C11, U+773E, U+524D, U+5F80, U+8A66, U+81BD, U+6587, U+5316, U+5927, U+5B78, U+9326, U+65B0, U+5927, U+6A13, U+885B, U+723E, U+5EB7, U+897F, U+9910, U+5EF3, U+6D2A, U+82E5, U+6F6D, U+547D, U+6848, U+6C11, U+96C4, U+9B3C, U+5C4B, U+674F, U+6797, U+91AB, U+9662, U+82B1, U+5D17, U+77F3, U+91AB, U+9662, U+82B1, U+84EE, U+4E94, U+5B50, U+547D, U+6848, U+4F4D, U+7F6E, U+4E0D, U+9650, U+6B61, U+8FCE, U+4E0A, U+8239, U+52C7, U+6562, U+9032, U+5165, U+FF0C;
}

* {
    font-family: 'Helvetica', 'Microsoft JhengHei';
    position: relative;
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    h2 {
        font-size: 1.1em;
    }
}

/* fb social */

#social {
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 10000;
    position: fixed;
    background-color: #3b5998;
    border-radius: 50px;
    border: 1px solid #3b5998;
    box-shadow: 4px 5px 4px #070c0e;
    cursor: pointer;
}

#social i {
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    color: white;
}

/* ghost mouse */

.ghost {
    display: flex;
    flex-direction: column;
    animation: ghost-y 2s ease-in-out infinite;
    z-index: 9999;
    position: absolute;
    transition: all 0.5s linear;
    box-shadow: 1px 2px 3px black !important;
    opacity: .9;
}

@media screen and (max-width:768px) {
    .ghost {
        display: none;
    }
}

.body-top {
    background-color: white;
    height: 90px;
    width: 75px;
    border-radius: 50%;
}

.body-low {
    background-color: white;
    width: 70px;
    border-radius: 30%;
    margin: -90px 0;
    z-index: -1;
}

.skirt {
    position: absolute;
    background-color: white;
    height: 20px;
    width: 50px;
    border-radius: 0 20px 70px 30px;
    top: 60px;
    left: 30px;
    animation: tail 1s infinite;
}

.eyes {
    display: flex;
    margin-top: 20px;
}

.eye {
    border: 5px solid black;
    height: 25px;
    width: 20px;
    border-radius: 50%;
    margin: 3px;
    z-index: 100;
}

@keyframes ghost-y {
    0% {
        transform: translate(0, -15px)
    }
    50% {
        transform: translate(0, 15px)
    }
    100% {
        transform: translate(0, -15px)
    }
}

@keyframes tail {
    0% {
        top: 60px
    }
    50% {
        top: 55px
    }
    100% {
        top: 60px
    }
}

/* end ghost mouse */

/* taiwan map */

#block_map {
    width: 100%;
    position: relative;
}

#block_map svg {
    width: 100%;
    box-sizing: border-box;
}

/* end taiwan map */

/* ghost map */

.area {
    color: white;
    border-radius: 5px;
    text-align: center;
    background: rgba(17, 17, 17, 0.788);
    transition-duration: .5s;
    position: absolute;
}

.area h2 {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 2em;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}

.area .subtitle {
    margin: auto;
    color: red;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}

.area p {
    padding: 10px;
    text-align: left;
    display: none;
    transition-duration: .5s;
}

.area .subtitle {
    text-align: center;
    font-size: 1.6em;
    color: red;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}

.area p:nth-last-child(1) {
    width: 100%;
}

.area:hover .set {
    transform: scale(1.5);
    cursor: pointer;
}

#area1 {
    top: 4%;
    left: 66%;
}

#area2 {
    top: 10%;
    left: 60%;
}

#area3 {
    top: 16%;
    left: 50%;
}

#area4 {
    top: 34%;
    left: 45%;
}

#area5 {
    top: 50%;
    left: 44%;
}

#area6 {
    top: 63%;
    left: 49%;
}

#area7 {
    top: 27%;
    left: 17%;
}

#area8 {
    top: 40%;
    left: 60%;
}

@media screen and (max-width:768px) {
    #area1 {
        top: 5%;
        left: 70%;
    }
    #area2 {
        top: 15%;
        left: 63%;
    }
    #area3 {
        top: 25%;
        left: 50%;
    }
    #area4 {
        top: 40%;
        left: 41%;
    }
    #area5 {
        top: 55%;
        left: 44%;
    }
    #area6 {
        top: 70%;
        left: 49%;
    }
    #area7 {
        top: 30%;
        left: 10%;
    }
    #area8 {
        top: 48%;
        left: 65%;
    }
}

.z_index {
    z-index: 999;
    padding: 20px;
    left: 50% !important;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    top: 50% !important;
}

@media screen and (max-height:820px) {
    .z_index {
        height: 600px;
        overflow: scroll;
    }
}

@media screen and (max-height:668px) {
    .z_index {
        height: 450px;
        overflow: scroll;
    }
}

#mask {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100vh;
    z-index: 998;
}

.set {
    position: absolute;
    transition: .3s;
    -webkit-filter: drop-shadow(0px 0px 26px rgba(45, 67, 165, 0.8));
    filter: drop-shadow(0px 0px 26px rgba(45, 67, 165, 0.8));
}

/* end ghost map  */

/* rain */

canvas {
    -webkit-animation: thunder-bg 8s infinite;
    position: absolute;
    height: 100%;
    width: 100%;
}

.map {
    width: 1300px;
    display: flex;
    margin: auto;
    padding: 5% 0;
}

@media screen and (max-width:768px) {
    .map {
        width: 100%;
    }
}

@-webkit-keyframes thunder-bg {
    0% {
        background-color: #1f1f33;
    }
    9% {
        background-color: #1f1f33;
    }
    10% {
        background-color: #484877;
    }
    10.5% {
        background-color: #1f1f33;
    }
    80% {
        background-color: #1f1f33;
    }
    82% {
        background-color: #484877;
    }
    83% {
        background-color: #1f1f33;
    }
    83.5% {
        background-color: #484877;
    }
    100% {
        background-color: #1f1f33;
    }
}

/* end rain */

/* tab img */

.ghost_img {
    display: none;
    padding: 10px 0;
}

.ghost_img img {
    display: inline-block;
    width: 200px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
    border: 5px solid white;
}

.ghost_img img:hover {
    filter: grayscale(0%) blur(0px);
    z-index: 100;
    transform: rotate(-10deg) scale(1.2);
    box-shadow: 3px 2px 6px black;
}

@media screen and (max-width:768px) {
    .area .set {
        display: none;
    }
}

#scale1 {
    animation: scale 1.3s infinite;
}

#scale2 {
    animation: scale 2.2s infinite;
}

#scale3 {
    animation: scale 1s infinite;
}

#scale4 {
    animation: scale 2.6s infinite;
}

#scale5 {
    animation: scale 2s infinite;
}

#scale6 {
    animation: scale 3.2s infinite;
}

#scale7 {
    animation: scale 1.5s infinite;
}

#scale8 {
    animation: scale 3s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.title_img {
    display: inline-flex;
}

#title_img_1, #title_img_2, #title_img_3, #title_img_4, #title_img_5, #title_img_6, #title_img_7, #title_img_8 {
    display: none;
}

/* footer */

footer {
    background-color: black;
}

.layout {
    color: white;
    width: 1000px;
    margin: auto;
    padding: 5%;
}

.layout .layout_in {
    width: 250px;
    display: flex;
    margin: auto;
}

.layout .layout_in .logo {
    width: 45px;
    padding-right: 10px;
}

.layout .layout_in .editor {
    list-style: none;
}

.layout .fb_search {
    width: 250px;
    margin: auto;
}

@media screen and (max-width:1000px) {
    .layout {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width:560px) {}

/* typein */

#centeralign h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
    font-size: 4.8em;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: red;
    text-shadow: -5px 4px 6px #300000, 4px 6px 1px #400000, 4px 2px 1px #500000, 7px 7px 1px #3a0303;
}

#centeralign p {
    text-align: center;
    margin: auto;
    text-transform: lowercase;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: 8px;
    line-height: 40px;
    width: 100%;
    display: none;
    padding: 5px 5%;
    box-sizing: border-box;
    color: red;
}

#table {
    width: 100%;
    color: white;
    padding-top: 13%;
}

.title {
    background-image: url('../img/title_bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
