@charset "UTF-8";
@import url('../../fonts/TAK00BP.woff');
@font-face {
    font-family: 'gooin';
    src: url('../../fonts/TAK00BP.TTF') format('truetype');
    src: url('../../fonts/TAK00BP.woff') format('woff');
    unicode-range: U+731B, U+9B3C, U+5728, U+9694, U+58C1, U+8FB2, U+66C6, U+4E03, U+6708, U+5728, U+53F0, U+7063, U+4E5F, U+7A31, U+4F5C, U+300C, U+9B3C, U+6708, U+300D, U+4E0D, U+5C11, U+4EBA, U+6703, U+8D81, U+6B64, U+6642, U+5230, U+9B3C, U+5C4B, U+63A2, U+96AA, U+6311, U+6230, U+7981, U+5FCC, U+6C11, U+8996, U+65B0, U+805E, U+7279, U+5730, U+6574, U+7406, U+5168, U+53F0, U+516B, U+5927, U+9748, U+7570, U+9B3C, U+5C4B, U+8B93, U+5927, U+81BD, U+7684, U+6C11, U+773E, U+524D, U+5F80, U+8A66, U+81BD, U+6587, U+5316, U+5927, U+5B78, U+9326, U+65B0, U+5927, U+6A13, U+885B, U+723E, U+5EB7, U+897F, U+9910, U+5EF3, U+6D2A, U+82E5, U+6F6D, U+547D, U+6848, U+6C11, U+96C4, U+9B3C, U+5C4B, U+674F, U+6797, U+91AB, U+9662, U+82B1, U+5D17, U+77F3, U+91AB, U+9662, U+82B1, U+84EE, U+4E94, U+5B50, U+547D, U+6848, U+4F4D, U+7F6E, U+4E0D, U+9650, U+6B61, U+8FCE, U+4E0A, U+8239, U+52C7, U+6562, U+9032, U+5165, U+FF0C;
}

* {
    font-family: 'Helvetica', 'Microsoft JhengHei';
    position: relative;
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    text-align: center;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}

figcaption {
    text-align: center;
    color: white;
}

/* fb social */

#social {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 30px;
    z-index: 10000;
    position: fixed;
    background-color: #3b5998;
    border-radius: 50px;
    border: 1px solid #3b5998;
    box-shadow: 4px 5px 4px #070c0e;
    cursor: pointer;
}

#social i {
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    color: white;
}

/* --end fb social-- */

/* map */

.section figure {
    z-index: 1;
}

.section figure img {
    width: 100%;
}

/* ghost script */

.taiwan_bg {
    background: url('../../img/mb/map_bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.taiwan_bg figure {
    display: flex;
    height: 100%;
    position: relative;
}

.taiwan_bg figure .taiwan_map {
    margin: auto;
    animation: float 4s infinite;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateX(0) translateY(0)
    }
    25% {
        transform: translateX(3px) translateY(3px)
    }
    50% {
        transform: translateX(0px) translateY(6px)
    }
    75% {
        transform: translateX(-3px) translateY(3px)
    }
    100% {
        transform: translateX(0) translateY(0)
    }
}

.house {
    width: 20%;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 26px rgba(70, 208, 157, .8));
    filter: drop-shadow(0px 0px 26px rgba(70, 208, 157, .8));
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#btn_1 {
    right: 10%;
    animation: scale 1.3s infinite;
}

#btn_2 {
    right: 30%;
    top: 12%;
    animation: scale 2.2s infinite;
}

#btn_3 {
    left: 27%;
    top: 26%;
    animation: scale 1s infinite;
}

#btn_4 {
    left: 23%;
    top: 42%;
    animation: scale 2.6s infinite;
}

#btn_5 {
    left: 20%;
    top: 56%;
    animation: scale 2s infinite;
}

#btn_6 {
    left: 25%;
    top: 70%;
    animation: scale 3.2s infinite;
}

#btn_7 {
    left: 3%;
    top: 27%;
    animation: scale 1.5s infinite;
}

#btn_8 {
    right: 10%;
    top: 40%;
    animation: scale 3s infinite;
}

#area1, #area2, #area3, #area4, #area5, #area6, #area7, #area8 {
    display: none;
}

.area {
    background: rgba(7, 12, 14, 0.761);
    width: 90%;
    margin: auto;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 23px;
    z-index: 999;
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 70vh;
}

.area::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f103";
    position: absolute;
    right: 10px;
    bottom: 40px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
    animation: down 1.5s infinite;
}

.area .subtitle {
    text-align: center;
    font-size: 1.4em;
    color: red;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes down {
    0% {
        opacity: .2;
        bottom: 50px;
    }
    50% {
        opacity: .8;
        bottom: 10px;
    }
    100% {
        opacity: .2;
        bottom: 50px;
    }
}

.area p {
    padding: 10px;
}

.ghost_img {
    padding: 10px 0;
    text-align: center;
}

.ghost_img img {
    display: inline-block;
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
    border: 5px solid white;
}

.ghost_img img:hover {
    filter: grayscale(0%);
}

/* --end ghost script-- */

/* footer */

footer {
    background-color: black;
}

.layout {
    color: white;
    margin: auto;
    padding: 5%;
}

.layout .layout_in {
    width: 250px;
    display: flex;
}

@media screen and (max-width:1000px) {
    .layout .layout_in {
        width: 100%
    }
}

.layout .layout_in .logo {
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50px;
    height: 50px;
}

.layout .layout_in .editor {
    list-style: none;
}

.layout .fb_search {
    width: 250px;
}

/* typein */

#centeralign {
    position: initial;
    margin: 30px 0;
    padding: 5%;
}

#centeralign h1 {
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1pt;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
    font-size: 2em;
    letter-spacing: 10px;
    margin: 30px 0;
    color: red;
    text-shadow: -5px 4px 6px #300000, 4px 6px 1px #400000, 4px 2px 1px #500000, 7px 7px 1px #3a0303;
}

#centeralign p {
    text-align: center;
    margin: auto;
    text-transform: lowercase;
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 8px;
    width: 100%;
    display: none;
    margin: 10px 0;
    box-sizing: border-box;
    color: red;
}

#table {
    width: 100%;
    color: white;
    padding-top: 13%;
}

.area_title {
    background: rgba(7, 12, 14, 0.969);
    width: 100%;
    margin: auto;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 23px;
    z-index: 999;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    overflow: scroll;
}

#close {
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0);
    width: 100px;
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'gooin', 'Helvetica', 'Microsoft JhengHei';
}
