@charset "UTF-8";
* {
    /* box-sizing: border-box; */
    font-family: 'Helvetica', 'Microsoft JhengHei';
    position: relative;
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    text-align: center;
}

figcaption {
    text-align: center;
    color: white;
}

/* mouse */

.mouse {
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 17px;
    height: 50px;
    margin: 15px auto 10px;
    position: absolute;
    width: 30px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.help-mouse-wheel {
    position: relative;
    left: 50%;
    transition: opacity 0.5s;
}

.help-mouse-wheel:before, .help-mouse-wheel:after {
    content: "";
    background: #fff;
    border-radius: 50%;
    margin-left: -2px;
    height: 4px;
    position: absolute;
    top: 5px;
    transition: top 0.5s, height 0.5s, opacity 0.5s;
    width: 4px;
}

.help-mouse-wheel:before {
    animation: scroll 1.5s 0.75s infinite ease-in-out;
}

.help-mouse-wheel:after {
    animation: scroll 1.5s infinite ease-in-out;
}

@keyframes scroll {
    0% {
        top: 5px;
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 15px;
        opacity: 0;
    }
}

/* fb social */

#social {
    width: 50px;
    height: 50px;
    left: 20px;
    bottom: 30px;
    z-index: 10000;
    position: fixed;
    background-color: #3b5998;
    border-radius: 50px;
    border: 1px solid #3b5998;
    box-shadow: 4px 5px 4px #070c0e;
    cursor: pointer;
}

#social i {
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    color: white;
}

/* map */

.section {
    background-size: cover;
}

.section figure img {
    width: 100%;
}

#map_1 {
    background-image: url('../../img/mb/map_01.png')
}

#map_2 {
    background-image: url('../../img/mb/map_02.png')
}

#map_3 {
    background-image: url('../../img/mb/map_03.png')
}

#map_4 {
    background-image: url('../../img/mb/map_04.png')
}

#map_5 {
    background-image: url('../../img/mb/map_05.png')
}

#map_6 {
    background-image: url('../../img/mb/map_06.png')
}

#map_7 {
    background-image: url('../../img/mb/map_07.png')
}

#map_8 {
    background-image: url('../../img/mb/map_08.png')
}

/* ghost script */

.area {
    background: #070c0ec2;
    width: 90%;
    margin: auto;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 23px;
    z-index: 999;
    display: none;
    position: relative;
}

.area::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f057";
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}

.area p {
    padding: 10px;
}

.section figure {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 20%;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(184, 51, 201, 0.7));
    filter: drop-shadow(0px 0px 50px rgba(184, 51, 201, 0.7));
    animation: scale 1s infinite;
    /* transform: translateX(-50%) translateY(-50%); */
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
